Source: checkfs
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: checkfs
Architecture: all
Depends: dosfstools, emessage
Description: FS check/repair on X restart
 FIXME

